body {
	font-family: "Georgia", serif;
	font-size: 1.2em;
	line-height: 120%;
}

a:link {
	color: #bd4f6c;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li.float {
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 110%;
}

h2, h3, h4, h5, h6 {
	font-style: italic;
}
